body{
    margin: 0;
    font-family: 'Hind Siliguri', sans-serif;
}
h1{
    font-size:50px;
}
.name-highlight{
    color: red;
}
.xyz{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 3%;
}
.xyz img{
    width: 100%;
}
.background-image{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
section{
    height: 500px;
}